body {
  margin: 0 auto;
}
article>h2[id]::before, article>h3[id]::before, article>h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
  content: "";
}
nav.banner header {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.grid {
  max-width: 70em;
  grid-gap: 1em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 20rem;
  /*grid-template-rows: repeat(3, auto);*/
}
.container-col1 {
  max-width: 70em;
  margin: 0 auto;
}
.g2 {
  max-width: 70em;
  grid-gap: 1em;
  margin: 0 auto;
  display: grid;
  grid-template-columns:20rem auto;
}
.g2 .c1 {
  padding: 1rem;
  /*max-width: 10rem;*/
  text-align: right;
}
.g2 .c2 {
  padding: 1rem;
  max-width: 30rem;
}
header, aside, article, footer {
  padding: 1em;
}

header, footer {
  grid-column: 1 / 3;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 800px) {
  aside, article {
    grid-column: 1 / 3;
  }
  .side-nav {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  .g3 {
    grid-template-columns: auto 30rem;
  }
}
.hero {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.hero h1 {
  font-family: 'Amaranth', sans-serif;
  font-size: 4em;
  color: #e79b3d;
  text-align: center;
}
:root {
  --body-color: #212529;
  --body-bg-color: #fff;
  --bg-banner: #2f3c48;
  --fg-banner: #e79b3d;
  --fg-bright-color: #e79b3d;
  --fg-link1-color: #0e84b5;
  --fg-link1Visit-color: #0e6ea1;
  --cd-bg: #f9f9f9;
  --cd-fg: #333;
  --bg-code: #f9f9f9;
  --bg-code-border: #dddddd;
  --bg-code-tab: #f9f9f9;
}

[data-theme="dark"] {
  --body-color: #cecece;
  --body-bg-color: #292929;
  --fg-bright-color: #111;
  --fg-link1-color: #0e9ccf;
  --fg-link1Visit-color: #0e85be;
  --bg-code: #303030;
  --bg-code-border: #505050;
  --bg-code-tab: #636363;
  --cd-bg: #333;
  --cd-fg: #f9f9f9;
}

:root{
  --base-color0: 200;
  --color0-light:  hsla(var(--base-color0), 50%, 75%, 100%);
  --color0-normal: hsla(var(--base-color0), 50%, 50%, 100%);
  --color0-darker: hsla(var(--base-color0), 50%, 35%, 100%);
}
body {
  color: var(--body-color);
  background-color: var(--body-bg-color);
}
a {
  color: var(--fg-link1-color);
}
a:visited {
  color: var(--fg-link1Visit-color);
}
div.syntax div.highlight pre {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: var(--bg-code);
  border: 1px solid var(--bg-code-border);
}
code {
  color: var(--cd-fg);
  background: var(--cd-bg);
  font-size: 0.8rem;
  padding: 0.2rem;
}
nav.banner {
  background-color: var(--bg-banner);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.side-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 6rem;
  z-index: 900;
}
.side-nav ul li {
  list-style: none;
  padding-bottom: 0.3rem;
}

.x-container {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#x-nav div {
  display: flex;
}
#x-nav {
  display: flex;
  flex-direction: row;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
#x-nav ul {
  flex-direction: row;
  margin: 0 0 0 auto;
}
#x-nav ul li {
  list-style: none;
  display: inline-block;
}
#x-nav ul li a {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  color: var(--fg-link1-color);
}
.nav-tabs {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs:before {
  display: table;
  content: " ";
}
.nav-tabs:after {
  display: table;
  content: " ";
  clear: both;
}
.nav-tabs > li {
  float: left;
  display: inline-block;
  padding: 0.1rem 0.8rem 0 0.8rem;
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--bg-code-border);
  border-bottom: none;
  margin-bottom: -1px;
  font-size: 0.7rem;
}
.nav-tabs > li.active {
  background-color: var(--bg-code);
}
.nav-tabs > li:hover {
  background-color: var(--bg-code-tab);
  cursor: pointer;
}
.syntax pre {
  font-size: 0.8rem;
}

.breadcrumb, .breadcrumb a, .breadcrumb a:visited {
  color: var(--fg-bright-color);
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7rem;
}

article h2 {
  margin-top: 4rem;
}
article h2:first-child {
  margin-top: 1rem;
}

#home-nav-link {
  font-family: 'Amaranth', sans-serif;
  font-size: 2em;
  color: var(--fg-banner);
}
