:root {
  --bg-hero: url(/images/bg-hero.png);
  --body-color: #212529;
  --body-bg-color: #fff;
  --bg-side: #eee;
  --bg-banner: #132d45;
  --bg-banner2: #143554;
  --fg-banner: #fff;
  --fg-banner-nav: #0e84b5;
  --fg-article: #d07f34;
  --fg-link1-color: #0e84b5;
  --fg-link1Visit-color: #0e6ea1;
  --cd-bg: #f9f9f9;
  --cd-fg: #333333;
  --bg-code: #f9f9f9;
  --bg-code-border: #dddddd;
  --bg-code-tab: #f9f9f9;
  --bg-scrollbar: #ddd;
  --bg-scrollbar2: #bbb;
}
[data-theme="dark"] {
  --bg-hero: url(/images/bg-hero-dark.png);
  --bg-banner: #202020;
  --bg-banner2: #2f2f2f;
  --body-color: #cecece;
  --body-bg-color: #292929;
  --bg-side: #272727;
  --fg-link1-color: #0e9ccf;
  --fg-link1Visit-color: #0e85be;
  --bg-code: #303030;
  --bg-code-border: #505050;
  --bg-code-tab: #636363;
  --bg-scrollbar: #636363;
  --bg-scrollbar2: #202020;
  --cd-bg: #333;
  --cd-fg: #f9f9f9;
}

body {
  margin: 0 auto;
}
article>h2[id]::before, article>h3[id]::before, article>h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
  content: "";
}
#banner header {
  /*max-width: 70rem;*/
  margin: 0 auto;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.main {
  max-width: 70em;
  grid-gap: 1em;
  /*margin: 0 auto;*/
  display: grid;
  grid-template-columns: 20rem auto;
}
.grid {
  max-width: 70em;
  grid-gap: 1em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 20rem;
}
.g2 {
  grid-template-columns: 35em 35rem;
}
.col {
  padding: 1rem;
}
.c-narrow {
  max-width: 45em;
  margin: 0 auto;
}
.c-narrow section {
  display: grid;
  grid-gap: 1em;
  grid-template-columns:12em auto;
}
.c-narrow section .col:first-child {
  text-align: right;
}

/*header, aside, article, footer {*/
/*  padding: 1em;*/
/*}*/

header, footer {
  grid-column: 1 / 3;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 800px) {
  aside, article {
    grid-column: 1 / 3;
  }
  /*nav.side {*/
  /*  display: none;*/
  /*}*/
}
@media all and (max-width: 1000px) {
  .g3 {
    grid-template-columns: auto 30rem;
  }
}
#hero {
  color: var(--fg-banner);
  background-color: #132d45;
  background-image: var(--bg-hero);
  text-align: center;
  padding: 2rem;
  margin-bottom: 1.5rem;
}
#hero h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  color: var(--fg-banner);
  text-align: center;
}

body {
  color: var(--body-color);
  background-color: var(--body-bg-color);
}
a {
  color: var(--fg-link1-color);
}
a:visited {
  color: var(--fg-link1Visit-color);
}
a.x, a.x:visited {
  color: var(--fg-article);
}

div.syntax div.highlight pre {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: var(--bg-code);
  border: 1px solid var(--bg-code-border);
}
code {
  /*color: var(--cd-fg);*/
  background: var(--cd-bg);
  font-size: 0.8rem;
  padding: 0.2rem;
}
#banner {
  background-color: var(--bg-banner);
  border-bottom: 1px solid var(--bg-banner2);
  /*position: -webkit-sticky;*/
  /*position: sticky;*/
  top: 0;
  z-index: 1000;
}
#sidenav {
  /*position: -webkit-sticky;*/
  /*position: sticky;*/
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 15em;
  font-size: small;
  background: var(--bg-side);
  scrollbar-width: thin;
  scrollbar-color: var(--bg-scrollbar2) var(--bg-scrollbar);
}
#sidenav::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: var(--bg-scrollbar);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--bg-scrollbar2);
  /*border-radius: 20px;*/
  /*border: 3px solid orange;*/
}
#sidenav ul {
  margin-block-start: 2px;
  margin-block-end: 2px;
  padding-left: 10px;
}
#main-content {
  position: absolute;
  top: 0;
  margin-left: 18em;
  max-width: 50em;
}
h2 {
  margin-top: 2em;
}
h3 {
  margin-top: 1.5em;
}
nav.side {
  /*position: -webkit-sticky;*/
  /*position: sticky;*/
  /*top: 6rem;*/
  /*z-index: 900;*/
}
nav.side ul li {
  list-style: none;
  padding-bottom: 0;
  padding-left: 0.3rem;
  border-left: 3px solid;
  border-color: transparent;
}
nav.side ul li.active {
  border-left: 3px solid var(--fg-article);
}
nav#top div {
  display: flex;
}
nav#top {
  display: flex;
  flex-direction: row;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
nav#top ul {
  flex-direction: row;
  margin: 0 0 0 auto;
}
nav#top ul li {
  list-style: none;
  display: inline-block;
}
nav#top ul li a, nav#top ul li a:visited {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  color: var(--fg-banner-nav);
}
.nav-tabs {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs:before {
  display: table;
  content: " ";
}
.nav-tabs:after {
  display: table;
  content: " ";
  clear: both;
}
.nav-tabs > li {
  float: left;
  display: inline-block;
  padding: 0.1rem 0.8rem 0 0.8rem;
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--bg-code-border);
  border-bottom: none;
  margin-bottom: -1px;
  font-size: 0.7rem;
}
.nav-tabs > li.active {
  background-color: var(--bg-code);
}
.nav-tabs > li:hover {
  background-color: var(--bg-code-tab);
  cursor: pointer;
}
.syntax pre {
  font-size: 0.8rem;
}
.breadcrumb.other {
  background-color: var(--bg-banner);
  font-size: 1.2rem;
}
.breadcrumb.other a {
  font-size: 1rem;
}
.breadcrumb, .breadcrumb a, .breadcrumb a:visited {
  color: var(--fg-banner-nav);
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

article h2, article h1 {
  color: var(--fg-article);
  margin-top: 4rem;
  font-size: 2rem;
}
article h3 {
  color: var(--fg-article);
  margin-top: 2rem;
  font-size: 1.5rem;
}
article h1 {
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
}
article h2:first-child {
  margin-top: 1rem;
}
h5 em {
  font-weight: normal;
  font-style: italic;
}
p.small-font, p.small-font code {
  font-size: 0.8em;
}
table.basic td {
  padding: 0 1rem 1rem 0;
}
table.index-toc th {
  vertical-align: top;
  font-size: 1.5rem;
}
table.index-toc td, table.index-toc.th {
  padding: 0 1rem 1rem 1rem;
}
table.table {
  width: 100%;
  /*background: #ccc;*/
}
.table td, .table th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-striped tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-striped tr:nth-of-type(even) {
  /*background-color: #999;*/
}
.table th.heading {
  padding-top: 2rem;
}

